<div class="card col-lg-4 col-6 movieSpace">
    <img class="card-img-top" src={{poster}} alt="poster-image">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{director}}</h6>
        <p class="card-text">{{cast}}</p>
        <div class="d-flex justify-content-around">
            <a href="/movies/details/{{_id}}" class="btn btn-sm btn-outline-dark">See details</a>
            <form action="/movies/details/favorites/{{_id}}" method="POST">
                <button type="submit" class="btn btn-sm btn-outline-success">Add Favorites</button>
            </form>

        </div>
    </div>
</div>