<div class="d-felx col movieSpace">
        <img class="moviePoster rounded float-left" src={{poster}} alt="poster-image">
        <div class="d-flex font-weight-bold">{{title}}</div>
        <div class="d-flex ">{{director}}</div>
        <br>
        <div class="d-flex ">{{cast}}</div>
        <a href="/movies/details/{{_id}}" class="btn btn-sm btn-dark button detailsButton">See details</a>
    </div>